<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/speech.css" />
</head>

<body>
    <section>
        <div class="section__wrapper">
            <h2 class="section__wrapper__heading">Text To Speech</h2>
            <div class="section__wrapper__textarea">
                <label for="text">Enter Text</label>
                <textarea class="section__wrapper__textarea__tear" id="text"></textarea>
            </div>
            <div class="section__wrapper__select">
                <label for="choose">Select Voice</label>
                <select class="section__wrapper__select__sele" id="choose"></select>
            </div>
            <button class="section__wrapper__btn">Convert To Speech</button>
        </div>
    </section>
    <script src="../static/js/speech.js"></script>
</body>

</html>